*{
    padding: 0;
    margin: 0;
}
#game{
    width: 500px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
}
#character{
    /* border: 4px solid rgb(46, 29, 173); */
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}
.animate
{
  animation: jump 500;
}
@keyframes jump {
    0%{top: 150px}
    30%{top:100px }
    70%{top:100px}
    100%{top:150px}
}
#block{
    /* border: 4px solid yellow; */
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 2s infinite;
}

@keyframes block{
    0%{left: 900px;}
    100%{left: -25px}
}